* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background: url(background.jpg);
    height: 100vh;
    background-size: cover;
}

.bg-container {
    display: grid;
    place-items: center;
    justify-content: center;
    zoom: 67%;
}

/* @media (min-width: 992px) {
    .bg-container {
        zoom: 67%;
    }
} */

.div {
    display: flex;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0;
}

.box {
    margin: 0.5px;
    width: 75px;
    height: 75px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

h1 {
    margin: 20px;
    font-size: 2.5rem;
    text-align: center;
    color: #3E2723;
    border: 2.5px solid #6D4C41;
    padding: 10px;
    background-color:#D7CCC8;
    border-radius: 5px;
}

h1:hover {
    color:#5D4037;
    background-color:#EFEBE9;
    cursor: default;
}

#tog {
    margin: 20px 0;
    font-size: 1.5rem;
    text-align: left;
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 5px;
}

#reset-btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #6D4C41;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  #reset-btn:hover {
    background-color: #5D4037;
    box-shadow: 0px 15px 20px #5D4037;
    color: #fff;
    transform: translateY(-7px);
  }
  
  #reset-btn:active {
    transform: translateY(-1px);
  }

@media (max-width: 650px) {
    .box {
        width: 11vw;
        height: 11vw;
    }

    h1 {
        font-size: 30px;
    }

    #tog {
        margin: 15px 0;
        font-size: 20px;
    }

    #reset-btn {
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 600;
        color: #FFFFFF;
        background-color: #6D4C41;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
      }
      
      #reset-btn:hover {
        background-color: #5D4037;
        box-shadow: 0px 15px 20px #5D4037;
        color: #fff;
        transform: translateY(-7px);
      }
      
      #reset-btn:active {
        transform: translateY(-1px);
      }
}

@media (max-width: 400px) {
    h1 {
        font-size: 20px;
    }

    #tog {
        margin: 30px 0;
        font-size: 10px;
    }
    #reset-btn {
        padding: 1.3em 3em;
        font-size: 8px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 600;
        color: #FFFFFF;
        background-color: #6D4C41;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
      }
      
      #reset-btn:hover {
        background-color: #5D4037;
        box-shadow: 0px 15px 20px #5D4037;
        color: #fff;
        transform: translateY(-7px);
      }
      
      #reset-btn:active {
        transform: translateY(-1px);
      }
}
